@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


@font-face {
  font-family: "Agatho";
  src: url("/fonts/Agatho_Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Agatho";
  src: url("/fonts/Agatho_Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Agatho", "Georgia", "Times New Roman", serif;
  @apply bg-dark text-white font-primary;
}

html {
  scroll-behavior: smooth;
}
